.evolua-consulta-selo-api-form {
	display: flex;
	align-items: center;
}

.evolua-consulta-selo-api-form .input-box {
  display: flex;
  align-items: center;
  border-radius: 8px;
	width: 100%;
	height: 42px;
	border-radius: 8px;
	overflow: hidden;
}

.evolua-consulta-selo-api-form .input-consulta {
	border: none;
	border-radius: 0;
}

.evolua-consulta-selo-api-form .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--e-global-color-f7fc815);
  color: #fff;
	height: 100%;
	border: none;
	border-radius: 0;
}
